{% extends "master.html" %}

{% load static %}

{% block content %}
    <main>
        <section class="principal">
            <div class="sobre">
                <div class="divResumo">
                    <h1 class="titulo">Sistema de Estacionamento (SistEst)</h1>
                    <p class="resumo">
                        Controlar seu estacionamento nunca foi tão fácil como agora! A ESTACIONE NET é o app para
                        gerenciamento de estacionamento de pequeno e médio porte mais barato do Brasil. É o que o seu
                        negócio precisa!
                    </p>
                </div>
            </div>
            <div class="divImgSisEst">
                <img src="{% static 'images/ilustrationSistEst.jpg' %}" alt="Imagem do SistEst" class="imgSistEst">
            </div>
        </section>

        <section class="secundaria">
            <h2 class="titulo">A gestão do seu estacionamento facilitado é com o SistEst</h2>
            <div class="cards">
                <div class="card">
                    <h3 class="cardIcone" ><i class="fa-solid fa-cash-register"></i></h3>
                    <h3 class="cardTitulo"> Controle de caixa</h3>
                    <p class="cardTexto">
                        Abertura e fechamento de caixa com relatórios. 
                        Sistema simples integrado com seu aplicativo Android. 
                        Com as opções de cobrança do estacionamento por preço ou por tempo.
                    </p>
                </div>
                <div class="card">
                    <h3 class="cardIcone" ><i class="fa-solid fa-camera"></i></h3>
                    <h3 class="cardTitulo"> Captura da placa com a câmera</h3>
                    <p class="cardTexto">
                        Utilize a câmera do seu smartfone 
                        para capturar a placa do carro. Com isso você deixa 
                         seu negócio mais ágil e evitar erros de digitação.
                    </p>
                </div>
                <div class="card">
                    <h3 class="cardIcone" ><i class="fa-solid fa-mobile"></i></h3>
                    <h3 class="cardTitulo"> Aplicativo Off-line</h3>
                    <p class="cardTexto">
                                    O aplicativo não necessita de internet 
                        para funcionar. Melhorando o custo e eficiência 
                        no estacionamento.
                    </p>
                </div>
                <div class="card">
                    <h3 class="cardIcone" ><i class="fa-solid fa-square-parking"></i></h3>
                    <h3 class="cardTitulo"> Tipos de Estacionamentos</h3>
                    <p class="cardTexto">
                        Rotativo, Cobrança por tempo e Mensalistas
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}