{% extends "master.html" %}

{% load static %}

{% block content %}
    <main>
        <section class="principal">
            <div class="sobre">
                <div class="divResumo">
                    <h1 class="titulo">Sistema de Estacionamento (SistEst)</h1>
                    <p class="resumo">
                        Controlar seu estacionamento nunca foi tão fácil como agora! A ESTACIONE NET é o app para
                        gerenciamento de estacionamento de pequeno e médio porte mais barato do Brasil. É o que o seu
                        negócio precisa!
                    </p>
                </div>
            </div>
            <div class="divImgSisEst">
                <img src="{% static 'images/ilustrationSistEst.jpg' %}" alt="Imagem do SistEst" class="imgSistEst">
            </div>
        </section>

        <!-- <section class="secundaria">
            <h2 class="tittuloSecundario">A gestão do seu estacionamento facilitado é com o SistEst</h2>
            <div class="cards">
                <div class="card">
                    <h3 class="cardTitulo">blablbalbal</h3>
                    <p class="cardTexto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione porro nisi temporibus
                        voluptatibus doloribus omnis officia unde laborum ea cum ex maxime accusamus suscipit, ut magni
                        optio assumenda ab aperiam.
                    </p>
                </div>
                <div class="card">
                    <h3 class="cardTitulo"></h3>
                    <p class="cardTexto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non possimus minus sed! Distinctio
                        temporibus tenetur nobis. Amet, et ea beatae a nesciunt hic quod, aperiam eius ipsum dolore
                        laudantium quia?
                    </p>
                </div>
                <div class="card">
                    <h3 class="cardTitulo"></h3>
                    <p class="cardTexto">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ratione reiciendis consequuntur
                        error itaque quae alias magni earum fugit sapiente? Optio facilis rerum iure nemo harum? Eius ut
                        aut eum!
                    </p>
                </div>
                <div class="card">
                    <h3 class="cardTitulo"></h3>
                    <p class="cardTexto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi distinctio perspiciatis voluptate
                        harum perferendis vel animi. Veniam, ut animi eius soluta unde voluptas maiores libero laborum
                        sed nulla suscipit culpa?
                    </p>
                </div>
            </div>
        </section> -->
    </main>
{% endblock %}